In [35]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [36]:
df = pd.read_csv('marital status.csv')

In [38]:
df

    age  status
0    21     0.0
1    33     1.0
2    24     0.0
3    28     1.0
4    17     0.0
5    33     1.0
6    23     0.0
7    30     0.0
8    29     1.0
9    22     0.0
10   26     1.0
11   20     0.0
12   22     0.0
13   24     NaN
14   34     1.0
15   29     1.0
16   16     0.0
17   18     0.0
18   26     1.0
19   25     1.0

# Null Value Handle

In [39]:
df.isnull().sum()

age       0
status    1
dtype: int64

In [40]:
handle = df['status'].median()

In [41]:
handle

0.0

In [42]:
df.status = df.status.fillna(handle)

In [43]:
df

    age  status
0    21     0.0
1    33     1.0
2    24     0.0
3    28     1.0
4    17     0.0
5    33     1.0
6    23     0.0
7    30     0.0
8    29     1.0
9    22     0.0
10   26     1.0
11   20     0.0
12   22     0.0
13   24     0.0
14   34     1.0
15   29     1.0
16   16     0.0
17   18     0.0
18   26     1.0
19   25     1.0

In [44]:
# count married unmarried
df['status'].value_counts()

0.0    11
1.0     9
Name: status, dtype: int64

In [45]:
x = df[['age']]

In [46]:
y = df['status']

# Test Train

In [47]:
from sklearn.model_selection import train_test_split

In [48]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=.30, random_state=1)

In [49]:
x_test

    age
3    28
16   16
6    23
10   26
2    24
14   34

In [50]:
y_test

3     1.0
16    0.0
6     0.0
10    1.0
2     0.0
14    1.0
Name: status, dtype: float64

#  Logistic Regression

In [51]:
from sklearn.linear_model import  LogisticRegression

In [52]:
model = LogisticRegression()

In [53]:
model.fit(x_train, y_train)

LogisticRegression()

In [54]:
model.predict(x_test)

array([1., 0., 0., 0., 0., 1.])

In [55]:
model.predict([[34]])

C:\Users\Abu Naiim\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([1.])

In [56]:
model.score(x_test, y_test)

0.8333333333333334

In [58]:
# Probality
model.predict_proba(x_test) #no , yes

array([[0.28697051, 0.71302949],
       [0.9902967 , 0.0097033 ],
       [0.80161052, 0.19838948],
       [0.50311753, 0.49688247],
       [0.71810555, 0.28189445],
       [0.02465085, 0.97534915]])