In [4]:
# importing library
import numpy as np #numerical value
import matplotlib.pyplot as plt #diagram
import pandas as pd #dataset
from sklearn import linear_model

In [6]:
# add dataset
df = pd.read_csv('car data.csv')

In [7]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         NaN    60
4    140        5         3.0    82
5    115        2         8.0    10

In [8]:
df.experience

0     5.0
1    13.0
2     4.0
3     NaN
4     3.0
5     8.0
Name: experience, dtype: float64

# Null Value Remove

In [16]:
# NaN valu remove by mean or median value
# exp_fit = df.experience.mean()
# or
exp_fit = df.experience.median()

In [17]:
exp_fit

5.0

In [18]:
df.experience = df.experience.fillna(exp_fit)

In [19]:
df.experience

0     5.0
1    13.0
2     4.0
3     5.0
4     3.0
5     8.0
Name: experience, dtype: float64

In [20]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         5.0    60
4    140        5         3.0    82
5    115        2         8.0    10

# Linear Regression

In [24]:
reg = linear_model.LinearRegression()

In [25]:
reg.fit(df[['speed', 'car_age', 'experience']], df.risk)

LinearRegression()

In [26]:
reg.predict([[160, 10, 5]]) #speed=160,car_age=10y,exprience=5y...car risk?

C:\Users\Abu Naiim\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([71.37146872])

In [27]:
# Risk = 71.37146872% (Ans)

# Y= M1X1 + M2X2 + ...+ MnXn +C

In [28]:
reg.coef_ #M

array([ 0.33059217,  1.61053246, -6.20772074])

In [29]:
reg.intercept_ #C

33.410000910435905

In [30]:
#risk = M1*speed + M2*car_age + M3*experience + C
Y = 0.33059217*160 + 1.61053246*10 + (-6.20772074)*5 + 33.410000910435905

In [31]:
Y

71.3714690104359