In [2]:
# importing library
import numpy as np #numerical value
import matplotlib.pyplot as plt #diagram
import pandas as pd #dataset

In [3]:
# add dataset
df = pd.read_csv('online.csv')

In [5]:
df.head(3)

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39

In [6]:
df.shape #row, column

(50, 5)

In [7]:
df.isnull().sum() #null value checked

Marketing Spend    0
Administration     0
Transport          0
Area               0
Profit             0
dtype: int64

In [8]:
# if missing or NaN value on Administration, then Administration.mean();

# Separate x, y

In [9]:
y = df['Profit']

In [10]:
y.head(3)

0    192261.83
1    191792.06
2    191050.39
Name: Profit, dtype: float64

In [11]:
x = df.drop(['Profit'], axis=1)

In [12]:
x.head(3)

   Marketing Spend  Administration  Transport     Area
0        114523.61       136897.80  471784.10    Dhaka
1        162597.70       151377.59  443898.53      Ctg
2        153441.51       101145.55  407934.54  Rangpur

# One Hot Encoding

In [25]:
# Convert the column into categorical columns
# city = pd.get_dummies(x['Area'], drop_first=True) #drop_first=True for 2 column show
city =pd.get_dummies(df['Area'])

In [26]:
city.head(3)

   Ctg  Dhaka  Rangpur
0    0      1        0
1    1      0        0
2    0      0        1

In [27]:
x = df.drop(['Area'], axis=1)

In [28]:
x.head(3)

   Marketing Spend  Administration  Transport     Profit
0        114523.61       136897.80  471784.10  192261.83
1        162597.70       151377.59  443898.53  191792.06
2        153441.51       101145.55  407934.54  191050.39

In [29]:
#concatation
x = pd.concat([x,city], axis=1)

In [31]:
x.head(3)

   Marketing Spend  Administration  Transport     Profit  Ctg  Dhaka  Rangpur
0        114523.61       136897.80  471784.10  192261.83    0      1        0
1        162597.70       151377.59  443898.53  191792.06    1      0        0
2        153441.51       101145.55  407934.54  191050.39    0      0        1

# Train Test Data

In [33]:
#importing Library
from sklearn.model_selection import train_test_split

In [34]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=.25, random_state=0) # 25% data for testing & 75% data for trainning

In [40]:
x_test.head(3)

    Marketing Spend  Administration  Transport     Profit  Ctg  Dhaka  Rangpur
28         66051.52       182645.56  118148.20  103282.38    0      0        1
11        100671.96        91790.61  249744.55  144259.40    1      0        0
10        101913.08       110594.11  229160.95  146121.95    0      0        1

In [41]:
y_test.head(3)

28    103282.38
11    144259.40
10    146121.95
Name: Profit, dtype: float64

# Linear Regression

In [42]:
# import Linear Regression
from sklearn.linear_model import LinearRegression

In [43]:
reg = LinearRegression() #object

In [44]:
reg.fit(x_train,y_train) #fit use for traning data

LinearRegression()

In [45]:
# Prediction the test set result
pred = reg.predict(x_test) # similer of y_test almost

In [46]:
pred

array([103282.38, 144259.4 , 146121.95,  77798.83, 191050.39, 105008.31,
        81229.06,  97483.56, 110352.25, 166187.94,  96778.92,  96479.51,
       105733.54])

In [50]:
# Accuracy
reg.score(x_test, y_test) # accuracy is always 0-1, but the closer to 1, the higher the accuracy.

1.0

# R-Squared Value for Accuracy

In [47]:
from sklearn.metrics import r2_score

In [48]:
score = r2_score(y_test, pred)

In [49]:
score

1.0