In [9]:
import pandas as pd

In [10]:
df = pd.read_csv('shop data.csv')

In [11]:
df.head(3)

     age income gender m_status buys
0    <25   high   male   single   no
1    <25   high   male  married   no
2  25-35   high   male   single  yes

In [29]:
# iloc x, y divided
x = df.iloc[:, :-1] #last 1 column deleted
#x = df.iloc[:,0:4]

In [34]:
x.head(5)

     age  income  gender m_status
0    <25    high    male   single
1    <25    high    male  married
2  25-35    high    male   single
3    >35  medium    male   single
4    >35     low  female   single

In [14]:
# iloc x, y divided
y = df.iloc[:, 4] #first 3 column deleted

In [35]:
y.head(5)

0     no
1     no
2    yes
3    yes
4    yes
Name: buys, dtype: object

# Label Encoding

In [16]:
from sklearn.preprocessing import LabelEncoder

In [17]:
Le_x = LabelEncoder()

In [18]:
x = x.apply(LabelEncoder().fit_transform)

In [19]:
x

    age  income  gender  m_status
0     1       0       1         1
1     1       0       1         0
2     0       0       1         1
3     2       2       1         1
4     2       1       0         1
5     2       1       0         1
6     0       1       0         0
7     1       2       1         0
8     1       1       0         1
9     2       2       0         0
10    1       2       0         1
11    0       2       1         0
12    0       0       0         1
13    2       2       1         0
14    1       0       1         1

# Decition Tree

In [20]:
from sklearn.tree import DecisionTreeClassifier

In [21]:
import numpy as np

In [22]:
dtf = DecisionTreeClassifier()

In [23]:
# Train data
dtf.fit(x, y)

DecisionTreeClassifier()

In [36]:
x_input = np.array([1,1,0,0])

In [37]:
y_predict = dtf.predict([x_input])

C:\Users\Abu Naiim\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [38]:
y_predict

array(['no'], dtype=object)